﻿#menu-toggle{
     background:#289dcc;
     height:50px;
 }

#menu-toggle:hover{
    color: #048;
    background-color: #C6DEFF;
 }

#navbarTitle1 {
    border-radius: 0px;
    background: url(/img/icon.png);
    /*background: url(../Img/reinforcementicon.svg);*/
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
    background-position-x: 5px;
    color: deepskyblue;
    width: 160px;
    text-align: center;
    font-size: 25px;
    border-color:aliceblue;
    border-width:2px;
}

#navbarTitle1:hover, #navbarTitle1:focus {
    color: #048;
    background-color: #C6DEFF;
}

#navbarTitle2 {
    border-radius: 0px;
    border: 0px;        
    border-radius: 0px;
    border:0;
    border-right:1px solid;
    border-color: grey;
    color: white;
    font-size: 18px;
}

#navbarTitle2:hover, #navbarTitle2:focus {
    color: #048;
    background: #C6DEFF;
}

#navbarTitle3 {
    border-radius: 0px;
    /*border: 0px;
    border-color:white;*/
    border-left:1px solid;
    border-color: grey;
    color: white;
}

#navbarTitle3:hover, #navbarTitle3:focus {
    color: #048;
    background: #C6DEFF;
}

#navigation {
    background-color: black;
    color: white;
}

#Language {
    background-color: black;
    color: white;
    border-radius: 0px;
    border:0;
    border-left:1px solid;
    border-color: grey;
    height:50px;
    width:100%;
    /*width:50px;*/
}

#Language:hover, #Language:focus {
    color: #048;
    background: #C6DEFF;
}
