/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */
    /*STRUCTURE MENU*/

#sidebarSteelStructure {
    border-radius: 0px;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    background: url(../img/Structure/steelstructure1.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
    background-position-x: 5px;
    color: white;
    text-align: center;
}

#sidebarConcreteStructure {
    border-radius: 0px;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    background: url(../img/Structure/concretestructure.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
    background-position-x: 5px;
    color: white;
    text-align: center;
}

#sidebarStructure3D {
    border-radius: 0px;
    border-bottom:1px solid grey;
    border-right:2px solid grey;
    background: url(../img/Structure/structure3D.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
    background-position-x: 5px;
    color: white;
    text-align: center;
}

#sidebarSteelStructure:hover, #sidebarSteelStructure:focus,
#sidebarConcreteStructure:hover, #sidebarConcreteStructure:focus,
#sidebarStructure3D:hover, #sidebarStructure3D:focus {
    color: #048;
    background-color: #C6DEFF;
}

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    /*padding-left: 220px;*/
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed; 
    left: 210px;
    width: 0;
    height: 100%;
    margin-left: -210px;
    overflow-y: auto;
    background-color:#2C3539;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}*/

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}

/*#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}*/
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}

#sidebar-wrapper {
    width: 50px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 50px;
}
#wrapper.toggled-2 #sidebar-wrapper {
    width: 210px;
}
#wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 210px;
}

#page-content-wrapper {
    /*padding-right: 75px;*/
    padding-left: 60px;
    /*margin-left: 50px;*/
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media(min-width:768px) {
    /*.col-sm-4{
        background-color:red;
        padding:20px;
    }*/


    #wrapper {
        padding-left: 210px;
    }
    .fixed-brand{
        width: 210px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 210px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 210px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 210px;
    }


    #page-content-wrapper {
        /*padding: 20px;*/
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 270px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }

    /*STRUCTURE MENU*/

    #sidebarSteelStructure {
        border-radius: 0px;
        border-top:1px solid grey;
        border-bottom:1px solid grey;
        border-right:1px solid grey;
        background: url(../img/Structure/steelstructure1.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: left center;
        background-position-x: 5px;
        color: white;
        text-align: center;
    }

    #sidebarConcreteStructure {
        border-radius: 0px;
        border-bottom:1px solid grey;
        border-right:1px solid grey;
        background: url(../img/Structure/concretestructure.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: left center;
        background-position-x: 5px;
        color: white;
        text-align: center;
    }

    #sidebarStructure3D {
        border-radius: 0px;
        border-bottom:1px solid grey;
        border-right:1px solid grey;
        background: url(../img/Structure/structure3D.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: left center;
        background-position-x: 5px;
        color: white;
        text-align: center;
    }

   #sidebarSteelStructure:hover, #sidebarSteelStructure:focus,
   #sidebarConcreteStructure:hover, #sidebarConcreteStructure:focus,
   #sidebarStructure3D:hover, #sidebarStructure3D:focus {
        color: #048;
        background-color: #C6DEFF;
    }
}

/*@media (max-width: 767px) {
  .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}*/
/*@media (max-width: 767px) {
  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}*/
