﻿div.tooltip-inner {
    max-width: 350px;
}

.center {
  margin: 20em auto;
  width: 400px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*margin:0;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/**********************************************************************************************/
/*Background CSS*/
/**********************************************************************************************/

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    background: #EDF0F2;
}

/**********************************************************************************************/
/*Card CSS*/
/**********************************************************************************************/

#card button{
    border-radius:0px;
    background-color:transparent;
    color:dodgerblue;
    border:0;
}

#card .panel-heading{
    border-radius:0px;
    background-color:transparent;
    color:dodgerblue;
    border:0;
    text-align: center;
}

#card {
    /*border:1px solid  black;*/
    border-radius: 0px;
    /*background: rgba(0, 0, 0, 0.33);
    color:white;*/
    border: 1px solid #289dcc;
    box-shadow: 1px 1px 1px 1px #888888;
}

#card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card .form-control {
    border: 1px solid white;
    border-radius: 0px;
    background: #C6DEFF;
    padding-right: 0px;
    /*background-color: rgba(0, 0, 0, 0.33);*/
    color: blue;
}

#card .form-control.ng-invalid {
    border-color:red;
    background-color:pink;
}

#card #formgroupcard{
    max-width :350px;
}

#card .form-control-feedback{
    color: blue;
}
#card .input-group-addon {
    border: 0px;
    background-color: white;
}

#card #acard{
    border-radius:0px;
}


/**********************************************************************************************/
/*Menu Control CSS*/
/**********************************************************************************************/

#menuinputhorizontalcard .nav-tabs,
#menuoutputhorizontalcard .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;   
    }

#menuinputhorizontalcard .nav-tabs>li,
#menuoutputhorizontalcard .nav-tabs>li {
    float:none;
}

#inputsectioncard .btn-primary{
    color: white;
    background:#5bc0de;
    border:0px;
}

#menuinputverticalcard .nav-pills > li.active > a, 
#menuinputverticalcard > ul.nav-pills > li.active > a:focus,
#menuinputhorizontalcard .nav-tabs > li.active > a, 
#menuinputhorizontalcard > ul.nav-tabs > li.active > a:focus
{
    color: white;
    background-color:dodgerblue; 
}

#menuoutputhorizontalcard .nav-pills > li.active > a, 
#menuoutputhorizontalcard > ul.nav-pills > li.active > a:focus,
#menuoutputhorizontalcard .nav-tabs > li.active > a, 
#menuoutputhorizontalcard > ul.nav-tabs > li.active > a:focus {
    color: white;
    background:#428bca;
}

/**********************************************************************************************/
/*Button CSS*/
/**********************************************************************************************/
#buttontype1{
     border-radius:0px;
     border-color:dodgerblue;
     border: 1px solid;
     background-color:transparent; 
     color:dodgerblue;
}

#buttontype1:hover{
     background-color:dodgerblue; 
     color:white;
}

/**********************************************************************************************/
/*Table CSS*/
/**********************************************************************************************/

tbody tr:hover{
    background-color:powderblue;
}
#scrollmenu table {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#column-label th {
    text-align: center;
    color: black;
    border: 0;
}
#row-label {
    border:0;
    text-align: center;
    min-width:75px;
    padding:0;
}


/**********************************************************************************************/
/*Structure 3D CSS*/
/**********************************************************************************************/
.text-label {
  color:black;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin: -5px 0 0 15px;
  pointer-events:none;
}



/**********************************************************************************************/
/*section*/
/**********************************************************************************************/

/*@media(max-width:992px) {
    #inputsectioncard {
        min-height: 250px;
        max-height: 250px;
        overflow: auto;
        margin-bottom: 20px;
        padding-right: 0px;
        border-bottom-color:aqua;
    }
}*/
