﻿
    <div id="TextOptions" class="panel-body collapse in">
        <div tr-select text="{{'TextOptionsUnits'|translate}}" description="{{'InfoOptionsUnits'|translate}}" input="Units" inputoptions="UnitsOptions" inputfunction="UnitsText()"></div>
    </div>
