﻿    <div id="TextBendingMoment" class="panel-body collapse in">
        <div tr-input1 text="{{'TextMoment'|translate}}" description="{{'InfoBendingMoment'|translate}}" input="MedAff" unit="MedUnit" unitoptions="UnitMomentOptions"></div>
    </div>
