﻿
    <div id="TextSectionChart" class="panel-body collapse in">
        Loading Chart...
        <div tr-sectionchart1 id="chart1" sectionwidth="width" sectionheight="height" unitx="unitl" unity="unitl" c="c" cprime="cprime"></div>
    </div>

