﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMomentEC2Reinforcement">{{TextRectSectionUnderBendingMomentEC2Reinforcement}}</button>
    <div id="TextRectSectionUnderBendingMomentEC2Reinforcement" class="panel-body collapse in">
        <div tr-output1 text="TextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="As1()" unit="As1Unit" unitoptions="UnitAreaOptions"></div>
        <div tr-output1 text="TextRectSectionUnderBendingMomentEC2ReinforcementBottomReinforcement" description="InfoRectSectionUnderBendingMomentEC2ReinforcementBottomReinforcemen" output="As2()" unit="As2Unit" unitoptions="UnitAreaOptions"></div>
    
        <input value="{{fck()+1}}" />
    </div>
</div>
