﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextSectionChart">{{title}}</button>
    <div id="TextSectionChart" class="panel-body collapse in">
        <label>{{width}}</label>
        <label>{{height}}</label>
        <label>{{unitl}}</label>
        <label>{{c}}</label>
        <label>{{cprime}}</label>
        <div tr-concretesectionanalysischart id="chart1" concreteext="concreteext" concreteint="concreteint" unitx="unitl" unity="unitl"></div>
    </div>
</div>
