﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMomentEC2Reinforcement">Data</button>
    <div id="TextRectSectionUnderBendingMomentEC2Reinforcement" class="panel-body collapse in">
        <div tr-output text="η" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="eta()" unit=""></div>
        <div tr-output text="fcd" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="fcd()" unit="MPa"></div>
        <div tr-output text="εcu2" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="epsicu2()" unit=""></div>
        <div tr-output text="λ" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="lambda()" unit=""></div>
        <div tr-output text="fctm" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="fctm()" unit="MPa"></div>
        <div tr-output text="fyd" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="fyd()" unit="MPa"></div>
        <div tr-output text="εyd" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="epsiyd()" unit=""></div>
        <div tr-output text="εuk" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="epsiuk()" unit=""></div>
        <div tr-output text="k" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="k()" unit=""></div>
        <div tr-output text="A" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="A()" unit=""></div>
        <div tr-output text="B" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="B()" unit=""></div>
        <div tr-output text="μcu" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="mucu()" unit=""></div>
        <div tr-output text="αls" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="alphals()" unit=""></div> 
        <div tr-output text="μls" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="muls()" unit=""></div> 
        <div tr-output text="αu" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="alphau()" unit=""></div> 
        <div tr-output text="Mls" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="Mls()" unit="MN.m"></div> 
        <div tr-output text="αAB" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="alphaAB()" unit=""></div> 
        <div tr-output text="μAB" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="muAB()" unit=""></div> 
        <div tr-output text="εs1" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="epsis1()" unit=""></div> 
        <div tr-output text="εs2" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="epsis2()" unit=""></div> 
        <div tr-output text="σs1" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="sigmas1()" unit="MPa"></div> 
        <div tr-output text="σs2" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="sigmas2()" unit="MPa"></div> 
        <div tr-output text="zc" description="InfoTextRectSectionUnderBendingMomentEC2ReinforcementTopReinforcement" output="zc()" unit="m"></div> 
    </div>
</div>

