<!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>TriAzur</h1>
                        <h3>A Modern Solution For Engineering and Design</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/structure" class="btn btn-default btn-lg"><i class="fa  fa-building-o fa-fw"></i> <span class="network-name">Structure</span></a>
                            </li>
                            <li>
                                <a href="/geotechnic" class="btn btn-default btn-lg"><i class="fa fa-gears fa-fw"></i> <span class="network-name">Geotechnic</span></a>
                            </li>
                            <li>
                                <a href="/hydraulic" class="btn btn-default btn-lg"><i class="fa fa-tint fa-fw"></i> <span class="network-name">Hydraulic</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->

    <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">TriAzur Structure:</h2>
                    <p class="lead">TriAzur devellops simples tools in order to help engineers for their calculations with the most recent international codes.</p>
                    <a href="/structure" class="btn btn-default btn-lg"><i class="fa  fa-building-o fa-fw"></i> <span class="network-name">Structure</span></a>
                    <hr style="width:0" />
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/cape-lambert-d1-0492.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">TriAzur Geotechnic</h2>
                    <p class="lead">Piles length calculation</p>
                    <a href="/geotechnic" class="btn btn-default btn-lg"><i class="fa fa-gears fa-fw"></i> <span class="network-name">Geotechnic</span></a>
                    <hr style="width:0" />
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/image6.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">TriAzur Hydraulic</h2>
                    <p class="lead">Wave loads calculation with stream functions</p>
                    <a href="/hydraulic" class="btn btn-default btn-lg"><i class="fa fa-tint fa-fw"></i> <span class="network-name">Hydraulic</span></a>
                    <hr style="width:0" />
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/011368.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to TriAzur:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Tridens 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>



