<div id="navbarlogin" ng-controller='TriAzurNavBarCtrl'>
    <div class="navbar navbar-inverse navbar-fixed-top" id="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbarTitle1" href="/structure"> TriAzur</a>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar">
                <% include loginpartial %>
            </div>
        </div>
    </div>
</div>











