<ul class="nav navbar-nav navbar-right">
    <li>
        <select id="Language" ng-model="Language" ng-change="LanguageText()" ng-options="LanguageOption.name for LanguageOption in LanguageOptions"></select>
    </li>
    <li>
        <a href="/account/register" id="navbarTitle3"><span class="glyphicon glyphicon-user"></span> {{'Register'|translate}}</a>
    </li>
    <li>
        <a href="/account/login" id="navbarTitle3"><span class="glyphicon glyphicon-log-in"></span> {{'Login'|translate}}</a>
    </li>
</ul>