<div class="navbar navbar-inverse navbar-fixed-top" id="navigation" ng-controller='TriAzurNavBarCtrl'>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-align-justify" id="MenuSlideBar" style="color:white" aria-hidden="true"></span></a>
            <a class="navbar-brand" id="navbarTitle1" href="/backindex" target="_self"> TriAzur</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
                <li>
                    <a href="/structure" id="navbarTitle2" style="border-left:1px solid;border-color:grey;">{{'Structure'|translate}}</a>
                </li>
                <li>
                    <a href="/geotechnic" id="navbarTitle2">{{'Geotechnic'|translate}}</a>
                </li>
                <li>
                    <a href="/hydraulic/triazurhydraulic" id="navbarTitle2">{{'Hydraulic'|translate}}</a>
                </li>
                <li>
                    <a href="/watson" id="navbarTitle2">{{'Watson'|translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

