﻿<div ng-show="materialsaddvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="addgotolistmaterial()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> {{'Back'|translate}}</span>
            </button>
            <!--<input type="submit" value="Back" class="btn btn-info" style="border-radius:0px" ng-click="listmaterial()" />-->
        </div>
    </div>
    <br />
    <form name="f1" ng-submit="addmaterial(Material)">
        <span style="color:red">{{AddMaterialsmessage}}</span>
        <div tr-input text="{{'TextMaterialName'|translate}}" description="{{'InfoMaterialName'|translate}}" input="Material.Name" unit=""></div>
        <div tr-input1 text="{{'TextMaterialDensity'|translate}}" description="{{'InfoMaterialDensity'|translate}}" input="Material.Density" unit="DensityUnit" unitoptions="UnitDensityOptions"></div>
        <div tr-input1 text="{{'TextMaterialEyoung'|translate}}" description="{{'InfoMaterialEyoung'|translate}}" input="Material.Eyoung" unit="EyoungUnit" unitoptions="UnitStressOptions"></div>
        <div tr-input text="{{'TextMaterialPoisson'|translate}}" description="{{'InfoMaterialPoisson'|translate}}" input="Material.Poisson" unit=""></div>
        <div tr-input text="{{'TextMaterialThermal'|translate}}" description="{{'InfoMaterialThermal'|translate}}" input="Material.Thermal" unit=""></div>
        <div tr-input1 text="{{'TextMaterialGmodulus'|translate}}" description="{{'InfoMaterialGmodulus'|translate}}" input="Material.Gmodulus" unit="GmodulusUnit" unitoptions="UnitStressOptions"></div>
        <br />
        <span style="color:red">{{AddMaterialsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <input type="submit" value="{{'Add'|translate}}" id="buttontype1" />
            </div>
        </div>
    </form>
</div>