﻿<div ng-show="materialseditvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="editgotolistmaterial()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> {{'Back'|translate}}</span>
            </button>
        </div>
    </div>
    <br />
    <form name="f1" ng-submit="editmaterial(Material)">
        <div tr-input text="{{'TextMaterialName'|translate}}" description="{{'InfoMaterialName'|translate}}" input="Material.Name" unit=""></div>
        <div tr-input1 text="{{'TextMaterialDensity'|translate}}" description="{{'InfoMaterialDensity'|translate}}" input="Material.Density" unit="DensityUnit" unitoptions="UnitDensityOptions"></div>
        <div tr-input1 text="{{'TextMaterialEyoung'|translate}}" description="{{'InfoMaterialEyoung'|translate}}" input="Material.Eyoung" unit="EyoungUnit" unitoptions="UnitStressOptions"></div>
        <div tr-input text="{{'TextMaterialPoisson'|translate}}" description="{{'InfoMaterialPoisson'|translate}}" input="Material.Poisson" unit=""></div>
        <div tr-input text="{{'TextMaterialThermal'|translate}}" description="{{'InfoMaterialThermal'|translate}}" input="Material.Thermal" unit=""></div>
        <div tr-input1 text="{{'TextMaterialGmodulus'|translate}}" description="{{'InfoMaterialGmodulus'|translate}}" input="Material.Gmodulus" unit="GmodulusUnit" unitoptions="UnitStressOptions"></div>
        <br />
        <span style="color:red">{{EditMaterialsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <input type="submit" value="{{'Edit'|translate}}" id="buttontype1"/>
            </div>
        </div>
    </form>
</div>