﻿<div ng-show="materialslistvisibility">
    <form>
        <div class="form-group has-feedback">
            <div id="formgroupcard">
                <label class="col-xs-2 control-label">{{'TextMaterialName'|translate}}:</label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="#" rel="tooltip" tooltip="description">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </span>
                        <select ng-model="Material" class="form-control" ng-options="material.Name for material in listmaterials"></select>
                    </div>
                </div>
            </div>
        </div>
        <span style="color:red">{{ListMaterialsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Edit'|translate}}" ng-click="gotoeditmaterial(Material)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Add'|translate}}" ng-click="gotoaddmaterial(Material)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Delete'|translate}}" ng-click="postdeletematerial(Material)" />
            </div>
        </div>
    </form>
</div>

