﻿<div ng-show="memberslistvisibility" style="border:0">
    <div class="row">
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Add" ng-click="postaddmember()" />
        </div>
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Save" ng-click="posteditlistmembers()" />
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Member name" ng-model="membername">
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div id="scrollmenu" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr id="column-label">
                            <!--<th>Member Id</th>-->
                            <th>Name</th>
                            <th>Node i</th>
                            <th>Node j</th>
                            <th>Section</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr ng-repeat="member in listmembers| orderBy : 'Name' | filter : membername">
                            <!--<td id="row-label"><input class="form-control" ng-model="member.MemberId" style="background-color:transparent;min-width:75px;text-align:center;"/></td>-->
                            <td id="row-label"><input class="form-control" ng-model="member.Name" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label">
                                <select ng-model="member.NodeiId" style="background-color:transparent;text-align:center;" class="form-control" ng-options="node._id as node.Name for node in listnodes"></select>
                            </td>
                            <td id="row-label">
                                <select ng-model="member.NodejId" style="background-color:transparent;text-align:center;" class="form-control" ng-options="node._id as node.Name for node in listnodes"></select>
                            </td>
                            <td id="row-label">
                                <select ng-model="member.SectionId" style="background-color:transparent;text-align:center;" class="form-control" ng-options="section._id as section.Name for section in listsections"></select>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Edit" ng-click="posteditmember(member)" />
                                </div>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletemember(member)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <span style="color:red">{{ListMembersmessage}}</span>
    </form>
</div>

