﻿<div ng-show="nodedisplacementslistvisibility" style="border:0">
    <div class="row">
        <div class="col-xs-4">
            <input id="buttontype1" type="submit" value="Add" ng-click="postaddnodedisplacement()" />
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="NodeDisplacement name" ng-model="nodedisplacementname">
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div id="scrollmenu" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr id="column-label">
                            <th>NodeDisplacement Id</th>
                            <th>Node Id</th>
                            <th>Ux</th>
                            <th>Uy</th>
                            <th>Uz</th>
                            <th>Rx</th>
                            <th>Ry</th>
                            <th>Rz</th>
                            <th>Edit</th>
                            <!--<th>Add</th>-->
                            <th>Delete</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr ng-repeat="nodedisplacement in listnodedisplacements| orderBy : 'NodeDisplacementId' | filter : nodedisplacementname">
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.NodeDisplacementId" style="background-color:transparent;min-width:75px;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.NodeId" style="background-color:transparent;min-width:75px;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Ux" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Uy" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Uz" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Rx" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Ry" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodedisplacement.Rz" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Edit" ng-click="posteditnodedisplacement(nodedisplacement)" />
                                </div>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletenodedisplacement(nodedisplacement)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <span style="color:red">{{ListNodeDisplacementsmessage}}</span>
    </form>
</div>

