﻿<div ng-show="nodeloadslistvisibility" style="border:0">
    <div class="row">
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Add" ng-click="postaddnodeload()" />
        </div>
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Save" ng-click="posteditlistnodeloads()" />
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="NodeLoad name" ng-model="nodeloadname">
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div id="scrollmenu" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr id="column-label">
                            <th>Name</th>
                            <th>Node</th>
                            <th>Fx</th>
                            <th>Fy</th>
                            <th>Fz</th>
                            <th>Mx</th>
                            <th>My</th>
                            <th>Mz</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr ng-repeat="nodeload in listnodeloads| orderBy : 'Name' | filter : nodeloadname">
                            <td id="row-label"><input class="form-control" ng-model="nodeload.Name" style="background-color:transparent;min-width:75px;text-align:center;"/></td>
                            <td id="row-label">
                                <select ng-model="nodeload.NodeId" style="background-color:transparent;text-align:center;" class="form-control" ng-options="node._id as node.Name for node in listnodes"></select>
                            </td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.ForceX" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.ForceY" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.ForceZ" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.MomentX" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.MomentY" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="nodeload.MomentZ" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Edit" ng-click="posteditnodeload(nodeload)" />
                                </div>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletenodeload(nodeload)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <span style="color:red">{{ListNodeLoadsmessage}}</span>
    </form>
</div>
