
<div>
    <div class="form-horizontal">
        <div class="col-md-6">

                    <div id="menuinputhorizontalcard">
                        <div class="panel panel-info" id="card">
                            <div class="scrollmenu">
                                <ul class="nav nav-tabs">
                                    <li class="active" ng-class="{ active: isSet(1) }">
                                        <a id="acard" href ng-click="setTab(1)">{{'TextOptions'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet(2) }">
                                        <a id="acard" href ng-click="setTab(2)">{{'TextGeometry'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet(3) }">
                                        <a id="acard" href ng-click="setTab(3)">{{'TextConcrete'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet(4) }">
                                        <a id="acard" href ng-click="setTab(4)">{{'TextSteel'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet(5) }">
                                        <a id="acard" href ng-click="setTab(5)">{{'TextBendingMoment'|translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="menuinputverticalcard">
                                <div class="panel panel-info" id="card">
                                    <ul id="test" class="nav nav-pills nav-stacked">
                                        <li class="active" ng-class="{ active: isSet(1) }">
                                            <a id="acard" href ng-click="setTab(1)">{{'TextOptions'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet(2) }">
                                            <a id="acard" href ng-click="setTab(2)">{{'TextGeometry'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet(3) }">
                                            <a id="acard" href ng-click="setTab(3)">{{'TextConcrete'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet(4) }">
                                            <a id="acard" href ng-click="setTab(4)">{{'TextSteel'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet(5) }">
                                            <a id="acard" href ng-click="setTab(5)">{{'TextBendingMoment'|translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <nav class="col-sm-8" id="inputsectioncard">
                            <div tr-concretesectionanalysisoptions ng-show="isSet(1)"></div>
                            <div tr-concretesectionanalysisgeometry ng-show="isSet(2)"></div>
                            <div tr-concretesectionanalysisconcrete ng-show="isSet(3)"></div>
                            <div tr-concretesectionanalysissteel ng-show="isSet(4)"></div>
                            <div tr-concretesectionanalysisloads ng-show="isSet(5)"></div>
                        </nav>
                    </div>

        </div>
        <div class="col-md-6">

                    <div id="menuoutputhorizontalcard">
                        <div class="panel panel-info" id="card">
                            <div class="scrollmenu">
                                <ul class="nav nav-tabs">
                                    <li class="active" ng-class="{ active: isSet1(1) }">
                                        <a class="redraw" id="acard" href ng-click="setTab1(1);">{{'TextSectionChart'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet1(2) }">
                                        <a id="acard" href ng-click="setTab1(2)">{{'TextReinforcement'|translate}}</a>
                                    </li>
                                    <li ng-class="{ active: isSet1(3) }">
                                        <a id="acard" href ng-click="setTab1(3)">Data</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div id="menuoutputverticalcard">
                                <div class="panel panel-primary" id="card">
                                    <ul id="test" class="nav nav-pills nav-stacked">
                                        <li class="active" ng-class="{ active: isSet1(1) }">
                                            <a class="redraw" id="acard" href ng-click="setTab1(1);">{{'TextSectionChart'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet1(2) }">
                                            <a id="acard" href ng-click="setTab1(2)">{{'Text2Reinforcement'|translate}}</a>
                                        </li>
                                        <li ng-class="{ active: isSet1(3) }">
                                            <a id="acard" href ng-click="setTab1(3)">Data</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8" id="outputsectioncard">
                            <div tr-concretesectionanalysissectionchart title="{{'TextSectionChart'|translate}}" concreteext="ConcreteExt" concreteint="ConcreteInt" unitl="UnitLength" id="container" ng-show="isSet1(1)"></div>
                            <div tr-concretesectionanalysisreinforcement ng-show="isSet1(2)"></div>
                            <div tr-concretesectionanalysisdata ng-show="isSet1(3)"></div>
                        </div>
                    </div>

        </div>
    </div>
</div>

<style>
    #TextSectionChart {
        /*border: 1px solid red;*/
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }

    #chart1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>



