<style>
    .img-center {
        margin: 0 auto;
    }
</style>
<div class="container">
    <div ng-show="sectionanalysislistvisibility=true" style="border:0">
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <div ng-click="rectangularsectiongeometry()" class="redraw">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcretesection.svg" alt="Image" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <div ng-click="Tsectiongeometry()">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/Tconcretesection.svg" alt="Image" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <a href="#/Structure">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/Iconcretesection.svg" alt="Image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <a href="#/Structure">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/circleconcretesection.svg" alt="Image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <a href="#/Structure">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/hollowcircleconcretesection.svg" alt="Image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <a href="#/Structure">
                            <img class="img-responsive img-center" ng-src="/Img/Structure/ConcreteStructure/ReinforcedStructure/randomconcretesection.svg" alt="Image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
