<div></div>
<div class="form-horizontal">
    <div class="col-md-6">
        <div id="menuinputhorizontalcard">
            <div class="panel panel-info" id="card">
                <div class="scrollmenu">
                    <ul class="nav nav-tabs">
                        <li class="active" ng-class="{ active: isSet(1) }">
                            <a id="acard" href ng-click="setTab(1)">{{'TextOptions'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(2) }">
                            <a id="acard" href ng-click="setTab(2)">{{'TextGeometry'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(3) }">
                            <a id="acard" href ng-click="setTab(3)">{{'TextConcrete'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(4) }">
                            <a id="acard" href ng-click="setTab(4)">{{'TextSteel'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(5) }">
                            <a id="acard" href ng-click="setTab(5)">{{'TextBendingMoment'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary" id="card">
                <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextBendingMoment">{{'InfoBendingMoment'|translate}}</button>
                <div id="TextBendingMoment" class="panel-body collapse in">
                    <div class="col-sm-4">
                        <ul id="test" class="nav nav-pills nav-stacked">
                            <li class="active" ng-class="{ active: isSet(1) }">
                                <a id="acard" href ng-click="setTab(1)">{{'TextOptions'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet(2) }">
                                <a id="acard" href ng-click="setTab(2)">{{'TextGeometry'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet(3) }">
                                <a id="acard" href ng-click="setTab(3)">{{'TextConcrete'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet(4) }">
                                <a id="acard" href ng-click="setTab(4)">{{'TextSteel'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet(5) }">
                                <a id="acard" href ng-click="setTab(5)">{{'TextBendingMoment'|translate}}</a>
                            </li>
                        </ul>
                    </div>
                    <nav class="col-sm-8" >
                        <div tr-rectsectionunderbendingmomentoptions ng-show="isSet(1)"></div>
                        <div tr-rectsectionunderbendingmomentgeometry ng-show="isSet(2)"></div>
                        <div tr-rectsectionunderbendingmomentconcrete ng-show="isSet(3)"></div>
                        <div tr-rectsectionunderbendingmomentsteel ng-show="isSet(4)"></div>
                        <div tr-rectsectionunderbendingmomentbendingmoment ng-show="isSet(5)"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div id="menuoutputhorizontalcard">
            <div class="panel panel-info" id="card">
                <div class="scrollmenu">
                    <ul class="nav nav-tabs">
                        <li class="active" ng-class="{ active: isSet1(1) }">
                            <a class="redraw" id="acard" href ng-click="setTab1(1);">{{'TextSectionChart'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet1(2) }">
                            <a id="acard" href ng-click="setTab1(2)">{{'TextReinforcement'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet1(3) }">
                            <a id="acard" href ng-click="setTab1(3)">Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="panel panel-primary" id="card">
                <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextBendingMoment">{{'InfoBendingMoment'|translate}}</button>
                <div id="TextBendingMoment" class="panel-body collapse in">
                    <div class="col-sm-4">
                        <ul id="test" class="nav nav-pills nav-stacked">
                            <li class="active" ng-class="{ active: isSet1(1) }">
                                <a class="redraw" id="acard" href ng-click="setTab1(1);">{{'TextSectionChart'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet1(2) }">
                                <a id="acard" href ng-click="setTab1(2)">{{'TextReinforcement'|translate}}</a>
                            </li>
                            <li ng-class="{ active: isSet1(3) }">
                                <a id="acard" href ng-click="setTab1(3)">Data</a>
                            </li>
                        </ul>
                    </div>
                    <nav class="col-sm-8" >
                        <div tr-rectsectionunderbendingmomentsectionchart title="{{'TextSectionChart'|translate}}" width="bw" height="h" unitl="UnitLength" c="c" cprime="cprime" id="container" ng-show="isSet1(1)"></div>
                        <div tr-rectsectionunderbendingmomentreinforcement ng-show="isSet1(2)"></div>
                        <div tr-rectsectionunderbendingmomentdata ng-show="isSet1(3)"></div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    #TextSectionChart {
        /*border: 1px solid red;*/
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }

    #chart1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>





