<style>
    .img-center {
        margin: 0 auto;
    }
</style>

<div class="container">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="/rectsectionunderbendingmomentEC2">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="/concretesectionanalysis">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete2.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="/rectsectionunderbendingmoment">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="#/StructureRectSectionUnderBendingMomentEC2">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="#/StructureConcreteSectionAnalysis">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete2.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="inputsectioncard">
                    <div class="panel panel-primary" id="card">
                        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{'TextRectSectionUnderBendingMoment'|translate}}</button>
                        <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                            <a href="#/StructureRectSectionUnderBendingMomentEC2">
                                <img class="img-responsive img-center" src="/img/Structure/ConcreteStructure/ReinforcedStructure/rectangularconcrete.svg" alt="Image" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





