<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="/structure3d" id="sidebarStructure3D"> {{'TextStructure3D'|translate}}</a>
        </li>
        <li>
            <a href="/steelsection" id="sidebarSteelStructure"> {{'TextSteelSection'| translate}}</a>
            <!--<ul class="nav nav-stacked" style="background: rgba(255,255,255,0.2);">
                <li><a href="/steelsection"><div style="color:white;">{{'TextSteelPileAPI'|translate}}</div></a></li>
                <li><a href="#/SteelPileEC3"><div style="color:white;">{{'TextSteelPileEC3'|translate}}</div></a></li>
            </ul>-->
        </li>
        <li>
            <a href="/prestressedconcrete" id="sidebarConcreteStructure"> {{'TextConcreteSection'| translate}}</a>
            <!--<ul class="nav nav-stacked" style="background: rgba(255,255,255,0.2);">
                <li><a href="/reinforcedconcrete"><div style="color:white;">{{'TextReinforcedConcrete'|translate}}</div></a></li>
                <li><a href="/prestressedconcrete"><div style="color:white;">{{'TextPrestressedConcrete'|translate}}</div></a></li>
            </ul>-->
        </li>
    </ul>
</div><!-- /#sidebar-wrapper -->