
<div class="form-horizontal" ng-controller="Structure3DCtrl">
    <div class="col-md-12">
        <div id="menuinputhorizontalcard">
            <div class="panel panel-info" id="card">
                <div class="scrollmenu">
                    <ul class="nav nav-tabs">
                        <li class="active" ng-class="{ active: isSet(1) }">
                            <a id="acard" href ng-click="setTab(1)">{{'Materials'|translate}}</a>
                        </li>
                        <!--<li>
                            <a id="acard" href data-toggle="modal" data-target="#myModal1">{{'MaterialsModal'|translate}}</a>
                        </li>-->
                        <li ng-class="{ active: isSet(2) }">
                            <a id="acard" href ng-click="setTab(2)">{{'Sections'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(3) }">
                            <a id="acard" href ng-click="setTab(3)">{{'Supports'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(4) }">
                            <a id="acard" href ng-click="setTab(4)">{{'Nodes'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(5) }">
                            <a id="acard" href ng-click="setTab(5)">{{'Members'|translate}}</a>
                        </li>
                        <li ng-class="{ active: isSet(6) }">
                            <a id="acard" href ng-click="setTab(6)">{{'NodeLoads'|translate}}</a>
                        </li>
                        <li  ng-class="{ active: isSet(7) }">
                            <a id="acard" href ng-click="structure3danalysis()">{{'Calculation'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="col-md-4" id="inputsectioncard">
        <div tr-materials ng-show="isSet(1)"></div>
        <div tr-sections ng-show="isSet(2)"></div>
        <div tr-supports ng-show="isSet(3)"></div>
        <div tr-nodes ng-show="isSet(4)"></div>
        <div tr-members ng-show="isSet(5)"></div>
        <div tr-nodeloads ng-show="isSet(6)"></div>
    </nav>
    <div class="col-md-8" id="outputsectioncard">
            <div class="panel panel-primary" id="card">
                <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#inputsData" style="border-radius:0px">Inputs</button>
                <div id="inputsData" class="panel-body collapse in">
                    <div id="webglContainer"
                         tr-structure3d
                         width="canvasWidth"
                         height="canvasHeight"
                         fillcontainer="dofillcontainer"
                         centerpostion="centerposition"
                         listsections = "listsections"
                         listsupports ="listsupports"
                         listnodes ="listnodes"
                         listmembers ="listmembers"
                         listnodeloads ="listnodeloads"
                         scale="scale"
                         material-type="materialType"
                         message="message"
                         coord2dlabel = "coord2dlabel"
                         threedimensionsstructure ="threedimensionsstructure">
                    </div>
                </div>
            </div>
            <label for="scale">Scale Object</label>
            <input type="range" name="scale" min="0.1" max="1.2" step="0.1" ng-model="scale" class="add-bottom">

            <label for="canvasWidth">Canvas Width</label>
            <input type="text" id="canvasWidth" ng-model="canvasWidth" ng-disabled="dofillcontainer">

            <label for="canvasHeight">Canvas Height</label>
            <input type="text" id="canvasHeight" ng-model="canvasHeight" ng-disabled="dofillcontainer">

            <label for="materialsList">Material Type</label>
            <select id="materialsList" ng-model="materialType">
                <option value="lambert">Lambert</option>
                <option value="phong">Phong</option>
                <option value="wireframe">Wire Frame</option>
            </select>

            <label for="threedimensionsstructure">
                <input type="checkbox" id="threedimensionsstructure" ng-model="threedimensionsstructure" />
                <span>3D Structure</span>
            </label>
            <label for="dofillcontainer">
                <input type="checkbox" id="dofillcontainer" ng-model="dofillcontainer" />
                <span>Responsive Canvas</span>
            </label>
            <label for="centerPosition">
                <input type="checkbox" id="centerposition" ng-model="centerposition" />
                <span>Center Position</span>
            </label>
            <table>
                <tr ng-repeat="mess in message">
                    <td>
                        {{mess}}
                    </td>
                </tr>
            </table>

            <table>
                <tr ng-repeat="coo in coord2dlabel">
                    <td>
                        {{coo}}
                    </td>
                </tr>
            </table>

        </div>

</div>



