<!DOCTYPE html>
<html ng-app='TriAzurApp'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TriAzur</title>
        <!-- icon -->
        <link rel="icon" href="/img/icon.png">
        <!-- style CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/landing-page.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <!-- script lib-->
        <script src='/js/lib/Chart.min.js'></script>
        <script src='/js/lib/angular.min.js'></script>
        <script src='/js/lib/angular-route.min.js'></script>
        <script src='/js/lib/angular-translate.min.js'></script>
        <script src='/js/lib/angular-translate-loader-static-files.min.js'></script>
    <head>
    <body>
        <div class="Content" ng-cloak>
            <% include ./../../views/partials/navbar %>
            <div ng-controller="TriAzurStructureCtrl">
                <div id="bg">
                    <div class="back"></div>
                </div>
                <div id="wrapper">
                    <% include structuremenu %>
                    <div id="page-content-wrapper">
                        <div class="container-fluid xyz">
                            <div class="row">
                                <div ng-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- script lib-->
        <script src='/js/lib/jquery-1.10.2.min.js'></script>
        <script src='/js/lib/jquery.validate.min.js'></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src="/js/lib/three.min.js"></script>
        <script src="/js/lib/OrbitControls.js"></script>

        <!-- script app structure -->
        <script src='/js/app/structure/structurerouting.js'></script>
        <script src='/js/app/structure/structurecontrollers.js'></script>
        <script src='/js/app/structure/structuredirectives.js'></script>
        <script src='/js/app/structure/structureservices.js'></script>

        <!-- script app triazur -->
        <script src='/js/app/triazurcontrollers.js'></script>
        <script src='/js/app/triazurdirectives.js'></script>
        <script src='/js/app/triazurservices.js'></script>

        <!-- script app structure3d -->
        <script src='/js/app/structure/structure3D/structure3dcontrollers.js'></script>
        <script src='/js/app/structure/structure3D/structure3ddirectives.js'></script>
        <script src='/js/app/structure/structure3D/structure3dservices.js'></script>
        <script src='/js/app/structure/structure3D/materials/materialsdirectives.js'></script>
        <script src='/js/app/structure/structure3D/materials/materialsservices.js'></script>
        <script src='/js/app/structure/structure3D/sections/sectionsdirectives.js'></script>
        <script src='/js/app/structure/structure3D/sections/sectionsservices.js'></script>
        <script src='/js/app/structure/structure3D/supports/supportsdirectives.js'></script>
        <script src='/js/app/structure/structure3D/supports/supportsservices.js'></script>
        <script src='/js/app/structure/structure3D/nodes/nodesdirectives.js'></script>
        <script src='/js/app/structure/structure3D/nodes/nodesservices.js'></script>
        <script src='/js/app/structure/structure3D/members/membersdirectives.js'></script>
        <script src='/js/app/structure/structure3D/members/membersservices.js'></script>
        <script src='/js/app/structure/structure3D/nodeloads/nodeloadsdirectives.js'></script>
        <script src='/js/app/structure/structure3D/nodeloads/nodeloadsservices.js'></script>

        <!-- script app reinforcedconcrete -->
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmomentEC2/rectsectionbendingmomentEC2controllers.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmomentEC2/rectsectionbendingmomentEC2directives.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmomentEC2/rectsectionbendingmomentEC2services.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmoment/rectsectionbendingmomentcontrollers.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmoment/rectsectionbendingmomentdirectives.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/rectsectionbendingmoment/rectsectionbendingmomentservices.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/concretesectionanalysis/concretesectionanalysiscontrollers.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/concretesectionanalysis/concretesectionanalysisdirectives.js'></script>
        <script src='/js/app/structure/reinforcedconcrete/concretesectionanalysis/concretesectionanalysisservices.js'></script>


        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled-2");
                $('#menu ul').hide();
            });

            function initMenu() {
                $('#menu ul').hide();
                $('#menu ul').children('.current').parent().show();
                $('#menu li a').click(
                    function () {
                        var checkElement = $(this).next();
                        if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                            return false;
                        }
                        if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                            $('#menu ul:visible').slideUp('normal');
                            checkElement.slideDown('normal');
                            return false;
                        }
                    }
                );
            }
            $(document).ready(function () { initMenu(); });
        </script>
    </body>
</html>