<!DOCTYPE html>
<html ng-app='TriAzurApp'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TriAzur</title>
        <!-- icon -->
        <link rel="icon" href="/img/icon.png">
        <!-- style CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/landing-page.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <!-- script lib-->
        <script src='/js/lib/angular.min.js'></script>
        <script src='/js/lib/angular-route.min.js'></script>
        <script src='/js/lib/angular-translate.min.js'></script>
        <script src='/js/lib/angular-translate-loader-static-files.min.js'></script>
    <head>
    <body>
        <div class="Content" ng-cloak>
            <% include partials/landingpagenavbar %>
            <% include partials/landingpage %>
        </div>

        <!-- script lib-->
        <script src='/js/lib/jquery-1.10.2.min.js'></script>
        <script src='/js/lib/jquery.validate.min.js'></script>
        <script src="/js/lib/bootstrap.min.js"></script>
        <!-- script app-->
        <script src='/js/app/triazurrouting.js'></script>
        <script src='/js/app/triazurcontrollers.js'></script>
        <script src='/js/app/triazurdirectives.js'></script>
        <script src='/js/app/triazurservices.js'></script>
    </body>
</html>