﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextReinforcement">Data</button>
    <div id="TextReinforcement" class="panel-body collapse in">
        <div tr-output text="η" description="InfoTextReinforcementTopReinforcement" output="eta()" unit=""></div>
        <div tr-output text="fcd" description="InfoTextReinforcementTopReinforcement" output="fcd()" unit="MPa"></div>
        <div tr-output text="εcu2" description="InfoTextReinforcementTopReinforcement" output="epsicu2()" unit=""></div>
        <div tr-output text="λ" description="InfoTextReinforcementTopReinforcement" output="lambda()" unit=""></div>
        <div tr-output text="fctm" description="InfoTextReinforcementTopReinforcement" output="fctm()" unit="MPa"></div>
        <div tr-output text="fyd" description="InfoTextReinforcementTopReinforcement" output="fyd()" unit="MPa"></div>
        <div tr-output text="εyd" description="InfoTextReinforcementTopReinforcement" output="epsiyd()" unit=""></div>
        <div tr-output text="εuk" description="InfoTextReinforcementTopReinforcement" output="epsiuk()" unit=""></div>
        <div tr-output text="k" description="InfoTextReinforcementTopReinforcement" output="k()" unit=""></div>
        <div tr-output text="A" description="InfoTextReinforcementTopReinforcement" output="A()" unit=""></div>
        <div tr-output text="B" description="InfoTextReinforcementTopReinforcement" output="B()" unit=""></div>
        <div tr-output text="μcu" description="InfoTextReinforcementTopReinforcement" output="mucu()" unit=""></div>
        <div tr-output text="αls" description="InfoTextReinforcementTopReinforcement" output="alphals()" unit=""></div>
        <div tr-output text="μls" description="InfoTextReinforcementTopReinforcement" output="muls()" unit=""></div>
        <div tr-output text="αu" description="InfoTextReinforcementTopReinforcement" output="alphau()" unit=""></div>
        <div tr-output text="Mls" description="InfoTextReinforcementTopReinforcement" output="Mls()" unit="MN.m"></div>
        <div tr-output text="αAB" description="InfoTextReinforcementTopReinforcement" output="alphaAB()" unit=""></div>
        <div tr-output text="μAB" description="InfoTextReinforcementTopReinforcement" output="muAB()" unit=""></div>
        <div tr-output text="εs1" description="InfoTextReinforcementTopReinforcement" output="epsis1()" unit=""></div>
        <div tr-output text="εs2" description="InfoTextReinforcementTopReinforcement" output="epsis2()" unit=""></div>
        <div tr-output text="σs1" description="InfoTextReinforcementTopReinforcement" output="sigmas1()" unit="MPa"></div>
        <div tr-output text="σs2" description="InfoTextReinforcementTopReinforcement" output="sigmas2()" unit="MPa"></div>
        <div tr-output text="zc" description="InfoTextReinforcementTopReinforcement" output="zc()" unit="m"></div>
    </div>
</div>