﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextGeometry">{{'TextGeometry'|translate}}</button>
    <div id="TextGeometry" class="panel-body collapse in">
        <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="bwAff" unit="bwUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="hAff" unit="hUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextGeometryLowerReinforcementCover'|translate}}" description="{{'InfoGeometryLowerReinforcementCover'|translate}}" input="cAff" unit="cUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextGeometryUpperReinforcementCover'|translate}}" description="{{'InfoGeometryUpperReinforcementCover'|translate}}" input="cprimeAff" unit="cprimeUnit" unitoptions="UnitLengthOptions"></div>
    </div>
</div>
