﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextSteel">{{'TextSteel'|translate}}</button>
    <div id="TextSteel" class="panel-body collapse in">
        <div tr-input1 text="{{'TextSteelYieldStrength'|translate}}" description="{{'InfoSteelYieldStrength'|translate}}" input="fykAff" unit="fykUnit" unitoptions="UnitStressOptions"></div>
        <div tr-input text="{{'TextSteelPartialFactorforReinforcingorPrestressingSteel'|translate}}" description="{{'InfoSteelPartialFactorforReinforcingorPrestressingSteel'|translate}}" input="gammas" unit=""></div>
        <div tr-input1 text="{{'TextSteelModulusofElasticityofReinforcingSteel'|translate}}" description="{{'InfoSteelModulusofElasticityofReinforcingSteel'|translate}}" input="EsAff" unit="EsUnit" unitoptions="UnitStressOptions"></div>
        <div tr-select text="{{'TextSteelDuctilityClass'|translate}}" description="{{'InfoSteelDuctilityClass'|translate}}" input="DuctilityClass" inputoptions="DuctilityClassOptions" inputfunction=""></div>
    </div>
</div>

