﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextSectionChart">{{title}}</button>
    <div id="TextSectionChart" class="panel-body collapse in">
        Loading Chart...
        <div tr-sectionchart id="chart1" sectionwidth="width" sectionheight="height" unitx="unitl" unity="unitl" c="c" cprime="cprime"></div>
    </div>
</div>
