﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-primary btn-block" data-toggle="collapse" data-target="#TextReinforcement">{{'TextReinforcement'|translate}}</button>
    <div id="TextReinforcement" class="panel-body collapse in">
        <div tr-output1 text="{{'TextReinforcementTopReinforcement'|translate}}" description="{{'InfoTextReinforcementTopReinforcement'|translate}}" output="As1()" unit="As1Unit" unitoptions="UnitAreaOptions"></div>
        <div tr-output1 text="{{'TextReinforcementBottomReinforcement'|translate}}" description="{{'InfoReinforcementBottomReinforcement'|translate}}" output="As2()" unit="As2Unit" unitoptions="UnitAreaOptions"></div>
    </div>
</div>