﻿<div ng-show="rectangularconcretesectiongeometryvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="rectangularsectionback()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Back</span>
            </button>
        </div>
    </div>
    <br />
    <div class="col-sm-12" id="inputsectioncard">
        <div class="panel panel-primary" id="card">
            <!--<a href="#/Structure">
                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[0]}}" alt="Image" />
            </a>-->
            <div id="TextSectionChart" class="panel-body collapse in">
                Loading Chart...
                <!--<div tr-rectsectionunderbendingmomentec2sectionchart title="{{'TextSectionChart'|translate}}" width="bw" height="h" unitl="UnitLength" c="c" cprime="cprime" id="container"></div>-->
                <div tr-recsectionchart id="chart1" sectionwidth="bw" sectionheight="h" unitx="UnitLength" unity="UnitLength"></div>
                <!--<div tr-recsectionchart id="chart1" bwAff="bAff" hAff="hAff" bwUnit="bUnit" hUnit="hUnit"></div>-->
            </div>
        </div>
    </div>
    <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="bAff" unit="bUnit" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="hAff" unit="hUnit" unitoptions="UnitLengthOptions"></div>
</div>

<style>
    #TextSectionChart {
        /*border: 1px solid red;*/
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }

    #chart1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>