﻿<div ng-show="rectangularconcretesectiongeometryvisibility">
    <div class="panel panel-primary" id="card">
        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextGeometry">{{TextGeometry}}</button>
        <div id="TextGeometry" class="panel-body collapse in">
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" aria-label="Left Align" ng-click="rectangularsectionback()" id="buttontype1" class="btn btn-info">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Back</span>
                    </button>
                </div>
            </div>
            <br />
            <div class="col-sm-12" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <a href="#/Structure">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[0]}}" alt="Image" />
                    </a>
                </div>
            </div>
            <div tr-input1 text="TextGeometrySectionWidth" description="InfoGeometrySectionWidth" input="bAff" unit="bUnit" unitoptions="UnitLengthOptions"></div>
            <div tr-input1 text="TextGeometrySectionHeight" description="InfoGeometrySectionHeight" input="hAff" unit="hUnit" unitoptions="UnitLengthOptions"></div>
        </div>
    </div>
</div>