﻿<div ng-show="Tconcretesectiongeometryvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="tsectionback()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Back</span>
            </button>
        </div>
    </div>
    <br />
    <div class="col-sm-12" id="inputsectioncard">
        <div class="panel panel-primary" id="card">
            <a href="#/Structure">
                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[1]}}" alt="Image" />
            </a>
        </div>
    </div>
    <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="bAfft" unit="bUnitt" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="hAfft" unit="hUnitt" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionWidth0'|translate}}" description="{{'InfoGeometrySectionWidth0'|translate}}" input="b0Afft" unit="b0Unitt" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight0'|translate}}" description="{{'InfoGeometrySectionHeight0'|translate}}" input="h0Afft" unit="h0Unitt" unitoptions="UnitLengthOptions"></div>
</div>