<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <script src='/js/angular.min.js'></script>
        <script src='/js/app/controller.js'></script>
    <head>
    <body ng-controller='myCtrl'>
        <h1><%= variable %></h1>
        {{message}}
        <a href='/backindex'>got to Index</a>
    </body>
</html>