﻿<div ng-show="memberloadslistvisibility" style="border:0">
    <div class="row">
        <div class="col-xs-4">
            <input id="buttontype1" type="submit" value="Add" ng-click="postaddmemberload()" />
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="MemberLoad name" ng-model="memberloadname">
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div id="scrollmenu" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr id="column-label">
                            <th>MemberLoad Id</th>
                            <th>Member</th>
                            <th>Direction</th>
                            <th>DistanceA</th>
                            <th>LoadPA</th>
                            <th>DistanceB</th>
                            <th>LoadPB</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr ng-repeat="memberload in listmemberloads| orderBy : 'MemberLoadId' | filter : memberloadname">
                            <td id="row-label"><input class="form-control" ng-model="memberload.MemberLoadId" style="background-color:transparent;min-width:75px;text-align:center;"/></td>
                            <td id="row-label">
                                <select ng-model="memberload.MemberId" style="background-color:transparent;text-align:center;" class="form-control" ng-options="member.MemberId as member.Name for member in listmembers"></select>
                            </td>
                            <td id="row-label">
                                <select ng-model="memberload.Type" style="background-color:transparent;text-align:center;" class="form-control" ng-options="loadtype.Type as loadtype.Name for loadtype in listloadtypes"></select>
                            </td>
                            <td id="row-label">
                                <select ng-model="memberload.Direction" style="background-color:transparent;text-align:center;" class="form-control" ng-options="loaddirection.Direction as loaddirection.Name for loaddirection in listloaddirections"></select>
                            </td>
                            <td id="row-label"><input class="form-control" ng-model="memberload.DistanceA" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="memberload.LoadPA" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="memberload.DistanceB" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label"><input class="form-control" ng-model="memberload.LoadPB" style="background-color:transparent;text-align:center;" /></td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Edit" ng-click="posteditmemberload(memberload)" />
                                </div>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletememberload(memberload)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <span style="color:red">{{ListMemberLoadsmessage}}</span>
    </form>
</div>
