﻿<div ng-show="supportseditvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="editgotolistsupport()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Back</span>
            </button>
        </div>
    </div>
    <br />
    <form name="f1" ng-submit="editsupport(Support)">
        <div tr-input text="{{'TextSupportName'|translate}}" description="{{'InfoSupportName'|translate}}" input="Support.Name" unit=""></div>
        <div tr-input1 text="{{'TextSupportDispX'|translate}}" description="{{'InfoSupportDispX'|translate}}" input="Support.DispX" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSupportDispY'|translate}}" description="{{'InfoSupportDispY'|translate}}" input="Support.DispY" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSupportDispZ'|translate}}" description="{{'InfoSupportDispZ'|translate}}" input="Support.DispZ" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSupportRotX'|translate}}" description="{{'InfoSupportRotX'|translate}}" input="Support.RotX" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSupportRotY'|translate}}" description="{{'InfoSupportRotY'|translate}}" input="Support.RotY" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSupportRotZ'|translate}}" description="{{'InfoSupportRotZ'|translate}}" input="Support.RotZ" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <br />
        <span style="color:red">{{EditSupportsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <input type="submit" value="{{EditSupportsButtonText}}" id="buttontype1" />
            </div>
        </div>
    </form>
    {{Support.Mat}}
</div>
