﻿<div ng-show="supportslistvisibility">
    <form>
        <div class="form-group has-feedback">
            <div id="formgroupcard">
                <label class="col-xs-2 control-label">{{'TextSupportName'|translate}}:</label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="#" rel="tooltip" tooltip="description">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </span>
                        <select ng-model="Support" class="form-control" ng-options="support.Name for support in listsupports"></select>
                    </div>
                </div>
            </div>
        </div>
        <span style="color:red">{{ListSupportsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="Edit" ng-click="gotoeditsupport(Support)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="Create" ng-click="gotoaddsupport(Support)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletesupport(Support)" />
            </div>
        </div>
    </form>
</div>

