﻿<div class="panel panel-primary" id="card">
    <div class="panel-heading">
        {{'Materials'|translate}} 
        <span class="glyphicon glyphicon glyphicon-circle-arrow-right" id="windowmaterials"></span>
    </div>
    <div id="materialsDataOptions" class="panel-body collapse in" style="border:0">
        <div tr-materialslist></div>
        <div tr-materialsedit></div>
        <div tr-materialsadd></div>
    </div>
</div>


<style>
    #windowmaterials {
        text-align: right;
        position: absolute;
        right: 30px;
        top: auto;
    }

        #windowmaterials:hover {
            color: cornflowerblue;
        }
</style>




