﻿<div class="panel panel-primary" id="card">
    <div class="panel-heading">Members <span class="glyphicon glyphicon glyphicon-circle-arrow-right" id="windowmembers"></span></div>
    <div id="membersDataOptions" class="panel-body collapse in" style="border:0">
        <div tr-memberslist></div>
    </div>
</div>

<style>
    #windowmembers {
        text-align: right;
        position: absolute;
        right: 30px;
        top: auto;
    }

        #windowmembers:hover {
            color: cornflowerblue;
        }
</style>