﻿
<div class="panel panel-primary" id="card">
    <div class="panel-heading">Node Loads <span class="glyphicon glyphicon glyphicon-circle-arrow-right" id="windowmemberloads"></span></div>
    <div id="memberloadsDataOptions" class="panel-body collapse in" style="border:0">
        <div tr-memberloadslist></div>
    </div>
</div>

<style>
    #windowmemberloads {
        text-align: right;
        position: absolute;
        right: 30px;
        top: auto;
    }

        #windowmemberloads:hover {
            color: cornflowerblue;
        }
</style>