﻿<div class="panel panel-primary" id="card">
    <div class="panel-heading">Node Displacements <span class="glyphicon glyphicon glyphicon-circle-arrow-right" id="windownodedisplacements"></span></div>
    <div id="nodedisplacementsDataOptions" class="panel-body collapse in" style="border:0">
        <div tr-nodedisplacementslist></div>
    </div>
</div>

<style>
    #windownodedisplacements{
        text-align:right;
        position:absolute;
        right:30px;
        top:auto;
    }

    #windownodedisplacements:hover{
        color:cornflowerblue;
    }
</style>