﻿<div class="panel panel-primary" id="card">
    <div class="panel-heading">Nodes <span class="glyphicon glyphicon glyphicon-circle-arrow-right" id="windownodes"></span></div>
    <div id="nodesDataOptions" class="panel-body collapse in" style="border:0">
        <div tr-nodeslist></div>
    </div>
</div>

<style>
    #windownodes{
        text-align:right;
        position:absolute;
        right:30px;
        top:auto;
    }

    #windownodes:hover{
        color:cornflowerblue;
    }
</style>