﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#sectionsDataOptions">{{'Sections'|translate}}</button>
    <div id="sectionsDataOptions" class="panel-body collapse in">
        <div tr-sectionslist></div>
        <div tr-sectionsedit></div>
        <div tr-sectionsadd></div>
    </div>
</div>

