﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#supportsDataOptions">{{'Supports'|translate}}</button>
    <div id="supportsDataOptions" class="panel-body collapse in">
        <div tr-supportslist></div>
        <div tr-supportsedit></div>
        <div tr-supportsadd></div>
    </div>
</div>
