<!DOCTYPE html>
<html ng-app='TriAzurApp'>
    <head>
        <title>TriAzur</title>
        <!-- icon -->
        <link rel="icon" href="/img/tridens-logo-small.png">
        <!-- style CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/landing-page.css">
        <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
        <link rel="stylesheet" type="text/css" href="/css/site.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <!-- script lib-->
        <script src ='/js/lib/modernizr-2.6.1.js'></script>
        <script src='/js/lib/angular.min.js'></script>
        <script src='/js/lib/angular-route.min.js'></script>
        <script src='/js/lib/angular-translate.min.js'></script>
        <script src='/js/lib/angular-translate-loader-static-files.min.js'></script>
    <head>
    <body>
        <div class="Content">
            <% include partials/navbar %>
            <% include partials/landingpage %>
        </div>

        <!-- script lib-->
        <script src='/js/lib/jquery-1.10.2.min.js'></script>
        <script src='/js/lib/jquery.validate.min.js'></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/lib/bootstrap.min.js"></script>
        <script src='/js/lib/respond.min.js'></script>
        <!-- script app-->
        <script src='/js/app/triazurrouting.js'></script>
        <script src='/js/app/triazurcontrollers.js'></script>
        <script src='/js/app/triazurservices.js'></script>
    </body>
</html>