﻿<div class="form-group has-feedback">
    <div id="formgroupcard">
        <div class="form-inline">
            <label class="col-xs-2 control-label">{{text}}:</label>
            <div class="col-xs-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a href="#" rel="tooltip" tooltip="description" id="infotooltip">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </span>
                    <input type="text" class="form-control" ng-model="input" name="{{inputName}}" ng-class="submitted?'ng-dirty':''" required validnumber-nonegative />
                    <span class="input-group-btn">
                        <select style="width: 75px;" ng-model="unit" class="form-control" ng-options="unitoption.name for unitoption in unitoptions"></select>
                    </span>
                    <span class="error" ng-show="(f1.{{inputName}}.$dirty || submitted) && f1.uFullName.$error.required">Fullname required!</span>

                    <span class="error" ng-show="(f1.uEmailID.$dirty || submitted) && f1.uEmailID.$error.email">Email ID not valid!</span>
                    <input type="text" ng-model="User.Username" name="uUsername" ng-class="submitted?'ng-dirty':''" required />
                    <span class="error" ng-show="(f1.uUsername.$dirty || submitted) && f1.uUsername.$error.required">Username required!</span>
                </div>
            </div>
        </div>
    </div>
</div>
