﻿<div class="form-group has-feedback">
    <div id="formgroupcard">
        <label class="col-xs-2 control-label">{{text}}:</label>
        <div class="col-xs-10 ">
            <div class="input-group">
                <span class="input-group-addon">
                    <a tr-tooltip href="#" description="description">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </span>
                <input type="text" class="form-control" ng-model="input" required/>
                <span class="form-control-feedback">{{unit}}</span>
            </div>
        </div>
    </div>
</div>