﻿<div class="form-group has-feedback">
    <div id="formgroupcard">
        <div class="form-inline">
            <label class="col-xs-2 control-label">{{text}}:</label>
            <div class="col-xs-10">
                <div class="input-group">
                    <span class="input-group-addon">
                        <a tr-tooltip href="#" description="description">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </span>
                    <input type="text" class="form-control" value={{output|conversion:'m':unit.value:unit.pow}} />
                    <span class="input-group-btn">
                        <select style="width: 65px;" ng-model="unit" class="form-control" ng-options="unitoption.name for unitoption in unitoptions"></select>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
