﻿<div class="form-group has-feedback">
    <div id="formgroupcard">
        <label class="col-xs-2 control-label">{{text}}:</label>
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon">
                    <a tr-tooltip href="#" description="description">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </span>
                <select ng-model="input" class="form-control" ng-options="inputoption.name for inputoption in inputoptions" ng-change="inputfunction"></select>
            </div>
        </div>
    </div>
</div>