﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextConcrete">{{'TextConcrete'|translate}}</button>
    <div id="TextConcrete" class="panel-body collapse in">
        <div tr-input1 text="{{'TextConcreteStrength'|translate}}" description="{{'InfoConcreteStrength'|translate}}" input="fckAff" unit="fckUnit" unitoptions="UnitStressOptions"></div>
        <div tr-input text="{{'TextConcretePartialFactor'|translate}}" description="{{'InfoConcretePartialFactor'|translate}}" input="gammac" unit=""></div>
        <div tr-input text="{{'TextConcreteCoefficient'|translate}}" description="{{'InfoConcreteCoefficient'|translate}}" input="alphacc" unit=""></div>
    </div>
</div>



