﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextBendingMoment">{{'InfoBendingMoment'|translate}}</button>
    <div id="TextBendingMoment" class="panel-body collapse in">
        <div tr-input1 text="{{'TextMoment'|translate}}'" description="{{'InfoBendingMoment'|translate}}" input="MedAff" unit="MedUnit" unitoptions="UnitMomentOptions"></div>
    </div>
</div>

