﻿<div class="panel panel-primary" id="card">
    <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextOptions">{{'TextOptions'|translate}}</button>
    <div id="TextOptions" class="panel-body collapse in">
        <div tr-select text="{{'TextOptionsUnits'|translate}}" description="{{'InfoOptionsUnits'|translate}}" input="Units" inputoptions="UnitsOptions" inputfunction="UnitsText()"></div>    
    </div>
</div>