﻿<div tr-concretesectionanalysisrectangularsection ng-show="rectangularconcretesectiongeometryvisibility"></div>
<div tr-concretesectionanalysistsection ng-show="Tconcretesectiongeometryvisibility"></div>
<div ng-show="concretesectiongeometryvisibility">
    <div class="panel panel-primary" id="card">
        <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextGeometry">{{'TextGeometry'|translate}}</button>
        <div id="TextGeometry" class="panel-body collapse in">
            <div ng-show="concretesectionanalysislistvisibility=true" style="border:0">
                <div class="row">
                    <div class="col-xs-4">
                        <input id="buttontype1" type="submit" value="Add" ng-click="postaddnode()" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <div ng-click="rectangularconcretesectiongeometry()">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[0]}}" alt="Image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <div ng-click="Tconcretesectiongeometry()">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[1]}}" alt="Image" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <a href="#/Structure">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[2]}}" alt="Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <a href="#/Structure">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[3]}}" alt="Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <a href="#/Structure">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[4]}}" alt="Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <a href="#/Structure">
                                <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[5]}}" alt="Image" />
                            </a>
                        </div>
                    </div>
                    <!--<div class="col-sm-4" id="inputsectioncard">
                        <div class="panel panel-primary" id="card">
                            <button class="btn btn-info btn-block" data-toggle="collapse" data-target="#TextRectSectionUnderBendingMoment">{{TextRectSectionUnderBendingMoment}}</button>
                            <div id="TextRectSectionUnderBendingMoment" class="panel-body collapse in">
                                <a href="#/Structure">
                                    <img class="img-responsive img-center" ng-src="{{srcimage}}" alt="Image" />
                                </a>
                            </div>
                        </div>
                    </div>-->
                </div>

                <form>
                    <div id="scrollmenu" style="overflow-x:auto;">
                        <table>
                            <thead>
                                <tr id="column-label">
                                    <th>Xext</th>
                                    <th>Yext</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="point in ConcreteExt">
                                    <td id="row-label"><input class="form-control" ng-model="point.Yext" style="background-color:transparent;min-width:75px;text-align:center;" /></td>
                                    <td id="row-label"><input class="form-control" ng-model="point.Zext" style="background-color:transparent;text-align:center;" /></td>
                                    <td id="row-label">
                                        <div class="col-xs-4">
                                            <input id="buttontype1" type="submit" value="Edit" ng-click="posteditnode(node)" />
                                        </div>
                                    </td>
                                    <td id="row-label">
                                        <div class="col-xs-4">
                                            <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletenode(node)" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <span style="color:red">{{ListNodesmessage}}</span>
                </form>
            </div>
        </div>
    </div>
</div>



<style>
    tbody tr:hover {
        background-color: powderblue;
    }

    #scrollmenu table {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #column-label th {
        text-align: center;
        color: black;
        border: 0;
    }

    #row-label {
        border: 0;
        text-align: center;
        min-width: 75px;
        padding: 0;
    }

    tbody tr td #NodeId {
        color: transparent;
    }

    .img-center {
        margin: 0 auto;
    }
</style>

