<div tr-datasection ng-show="sectionsdatavisibility"></div>
<div tr-rectangularsection ng-show="rectangularsectionvisibility"></div>
<div tr-tsection ng-show="tsectionvisibility"></div>

<div ng-show="sectionsaddvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="addgotolistsection()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> {{'Back'|translate}}</span>
            </button>
        </div>
    </div>
    <div ng-show="sectionanalysislistvisibility=true" style="border:0">
        <br />
        <div class="row">
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <div ng-click="rectangularsectiongeometry()" class="redraw">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[0]}}" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <div ng-click="tsectiongeometry()">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[1]}}" alt="Image" />
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <a href="#/Structure">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[2]}}" alt="Image" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <a href="#/Structure">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[3]}}" alt="Image" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <a href="#/Structure">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[4]}}" alt="Image" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6" id="inputsectioncard">
                <div class="panel panel-primary" id="card">
                    <a href="#/Structure">
                        <img class="img-responsive img-center" ng-src="{{srcimageconcretesection[5]}}" alt="Image" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    tbody tr:hover {
        background-color: powderblue;
    }

    #scrollmenu table {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #column-label th {
        text-align: center;
        color: black;
        border: 0;
    }

    #row-label {
        border: 0;
        text-align: center;
        min-width: 75px;
        padding: 0;
    }

    tbody tr td #NodeId {
        color: transparent;
    }

    .img-center {
        margin: 0 auto;
    }
</style>
