<div ng-show="sectionsdatavisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="backsectionsaddvisibility()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> {{'Back'|translate}}</span>
            </button>
        </div>
    </div>
    <br />
    <form name="f1" ng-submit="addsection(Section)">
        <div tr-input text="{{'TextSectionName'|translate}}" description="{{'InfoSectionName'|translate}}" input="Section.Name" unit=""></div>
        <div class="form-group has-feedback">
            <div id="formgroupcard">
                <label class="col-xs-2 control-label">{{'TextSectionMaterial'|translate}}:</label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="#" rel="tooltip" tooltip="description">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </span>
                        <select ng-model="Section.MaterialId" class="form-control" ng-options="material._id as material.Name for material in listmaterials"></select>
                    </div>
                </div>
            </div>
        </div>
        <div tr-input1 text="{{'TextSectionXG'|translate}}" description="{{'InfoSectionXG'|translate}}" input="Section.XG" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSectionYG'|translate}}" description="{{'InfoSectionYG'|translate}}" input="Section.YG" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSectionArea'|translate}}" description="{{'InfoSectionArea'|translate}}" input="Section.Area" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSectionInertia2'|translate}}" description="{{'InfoSectionInertia2'|translate}}" input="Section.I2" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSectionInertia3'|translate}}" description="{{'InfoSectionInertia3'|translate}}" input="Section.I3" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <div tr-input1 text="{{'TextSectionInertiaJ'|translate}}" description="{{'InfoSectionInertiaJ'|translate}}" input="Section.J" unit="LengthUnit" unitoptions="UnitLengthOptions"></div>
        <br />
        <span style="color:red">{{AddSectionsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <input type="submit" value="{{AddMaterialsButtonText}}" id="buttontype1" />
            </div>
        </div>
    </form>
</div>
