﻿<div ng-show="sectionslistvisibility">
    <form>
        <div class="form-group has-feedback">
            <div id="formgroupcard">
                <label class="col-xs-2 control-label">{{'TextSectionName'|translate}}:</label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <a href="#" rel="tooltip" tooltip="description">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </span>
                        <select ng-model="Section" class="form-control" ng-options="section.Name for section in listsections"></select>
                    </div>
                </div>
            </div>
        </div>
        <span style="color:red">{{ListSectionsmessage}}</span>
        <div class="row">
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Edit'|translate}}" ng-click="gotoeditsection(Section)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Add'|translate}}" ng-click="gotoaddsection(Section)" />
            </div>
            <div class="col-xs-4">
                <input id="buttontype1" type="submit" value="{{'Delete'|translate}}" ng-click="postdeletesection(Section)" />
            </div>
        </div>
    </form>
</div>

