<div ng-show="rectangularsectionvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="rectangularsectionback()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">  {{'Back'|translate}}</span>
            </button>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
    </div>
    <br />
    <div class="col-sm-12" id="inputsectioncard">
        <div class="panel panel-primary">
            <div id="container">
                <div id="TextSectionChart" class="panel-body collapse in">
                     <canvas tr-recsectionchart id="chart1" width="400" height="400"  sectionwidth="bwAff" sectionheight="hAff" unitx="UnitLength" unity="UnitLength"></canvas>
                </div>    
            </div>
        </div>
    </div>
    <div ng-show="Recvalidationmessage">
        <br />
        <div class="alert alert-danger">
            {{'InputsNotValid'|translate}}
        </div>
    </div>
    <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="bwAff" unit="bwUnit" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="hAff" unit="hUnit" unitoptions="UnitLengthOptions"></div>
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <input type="submit" value="{{'Data'|translate}}" id="buttontype1" ng-click="RecDatasection()"/>
        </div>
    </div>
</div>

<style>
    /*#TextSectionChart {
        border: 1px solid red;
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }*/

    /*#chart1 {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 400px;
        max-height: 400px;
    }*/
</style>