<div ng-show="tsectionvisibility">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" aria-label="Left Align" ng-click="tsectionback()" id="buttontype1" class="btn btn-info">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">  {{'Back'|translate}}</span>
            </button>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
        </div>
    </div>
    <br />
    <div class="col-sm-12" id="inputsectioncard">
        <div class="panel panel-primary">
            <div id="container">
                <div id="TextSectionChart" class="panel-body collapse in">
                    <canvas tr-tsectionchart id="chart1" width="400" height="400"  b="tbAff" h="thAff" b0="tb0Aff" h0="th0Aff" unitb="UnitLength" unith="UnitLength" unitb0="UnitLength" unith0="UnitLength"></canvas>
                </div>    
            </div>
        </div>
    </div>
    <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="tbAff" unit="tbUnit" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="thAff" unit="thUnit" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionWidth'|translate}}" description="{{'InfoGeometrySectionWidth'|translate}}" input="tb0Aff" unit="tb0Unit" unitoptions="UnitLengthOptions"></div>
    <div tr-input1 text="{{'TextGeometrySectionHeight'|translate}}" description="{{'InfoGeometrySectionHeight'|translate}}" input="th0Aff" unit="th0Unit" unitoptions="UnitLengthOptions"></div>
    <div class="row">
        <div class="col-xs-6">
        </div>

        <div class="col-xs-6">
            <input type="submit" value="{{'Data'|translate}}" id="buttontype1" ng-click="tsectiondata()"/>
        </div>
    </div>
</div>

