﻿<div ng-show="nodeslistvisibility" style="border:0">
    <div class="row">
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Add" ng-click="postaddnode()" />
        </div>
        <div class="col-xs-3">
            <input id="buttontype1" type="submit" value="Save" ng-click="posteditlistnodes()" />
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Node name" ng-model="nodename">
                </div>
            </div>
        </div>
    </div>
    <br />
    <form>
        <div id="scrollmenu" style="overflow-x:auto;">
                <table>
                    <thead>
                        <tr id="column-label">
                            <!--<th>Node Id</th>-->
                            <th>Name</th>
                            <th>X</th>
                            <th>Y</th>
                            <th>Z</th>
                            <th>Support</th>
                            <th>Edit</th>
                            <!--<th>Add</th>-->
                            <th>Delete</th>
                        </tr>
                     </thead>
                    <tbody>
                        <tr ng-repeat="node in listnodes| orderBy : 'Name' | filter : nodename">
                            <!--<td id="row-label"><input class="form-control" ng-model="node.SupportName" style="background-color:transparent;min-width:75px;text-align:center;"/></td>-->
                            <td id="row-label"><input class="form-control" ng-model="node.Name" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="node.X" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="node.Y" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label"><input class="form-control" ng-model="node.Z" style="background-color:transparent;text-align:center;"/></td>
                            <td id="row-label">
                                <select ng-model="node.SupportId" style="background-color:transparent;text-align:center;"  class="form-control" ng-options="support._id as support.Name for support in listsupports"></select>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Edit" ng-click="posteditnode(node)" />
                                </div>
                            </td>
                            <td id="row-label">
                                <div class="col-xs-4">
                                    <input id="buttontype1" type="submit" value="Delete" ng-click="postdeletenode(node)" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <span style="color:red">{{ListNodesmessage}}</span>
    </form>
</div>

