<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        <li>
            <a href="/structure3d" id="sidebarStructure3D"> {{'TextStructure3D'|translate}}</a>
        </li>
        <li>
            <a href="/steelsection" id="sidebarSteelStructure"> {{'TextSteelSection'| translate}}</a>
        </li>
        <li>
            <a href="/prestressedconcrete" id="sidebarConcreteStructure"> {{'TextConcreteSection'| translate}}</a>

        </li>
    </ul>
</div>